<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=@movieinfo['name']%> - FlixMax</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <h2><%=@movieinfo['name']%></h2>
    <div style="background-color: var(--c3); width: fit-content; padding: 20px; border-radius: 20px;">
    <p>Release year: <%=@movieinfo['year']%> </p>
    <div class="imdb" style="display: flex; height: 18px; flex-direction: row;">
        <img src="/img/imdblogo.png" style="">
        <p style="margin: 0;"> : <%=@movieinfo['imdb_rating']%> </p>
    </div>
    <p>Runtime: <%=@movieinfo['runtime']%> min </p>
    <p>Genre<%=@movieinfo['genres'].split(',').length > 1 ? "s": ""%>: <%= @movieinfo['genres'].split(",").join(", ")%></p>
    <img src="<%=@movieinfo['poster']%>" style="width: 250px;
                                                height: 350px; 
                                                position: absolute; 
                                                right: 5%; 
                                                top: 20%;
                                                border-radius: 25px;">
    <form method="POST" action="/movies/edit/<%=@movieinfo['id']%>">
    <label for ="score">Your score: </label><input type="text" id="score" name="score"> <%=@review['score']%>
    <div class="reviewText">
        <div id="quotemark1">“</div>
        <textarea name="review"><%=@review['review']%></textarea>
        <div id="quotemark2">”</div> 
        <input name="send" type="submit" value="Submit" style="color:black">
    </div>

    </form>
    </div>
</body>
</html>

