<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>

    </div>
    <div class="normal"><h2>Your reviews</h2></div>
    <div class="indexGrid">
        <div class="movieBox" style="display:flex;align-items:center;justify-content:center;background-color:#888;">
            <div style="width: 50px; border-radius:50%;height:50px;background-color:#666;display:flex;align-items:center;justify-content:center;">
                <a href="/movies/add" style="display:flex;justify-content:center;align-items:center;"><span class="material-symbols-outlined" style="color:white;">add</span></a>
            </div>
        </div>
        <% @movies.each do | movie | %>
        <div class="movieBox" style="background-image: url(<%=movie['poster']%>); 
                                    background-repeat: no-repeat; 
                                    background-size: 100% 100%;">
                <a href="/movies/show/<%=movie['id']%>" id=""><button id="infobutton"></button></a>
                <form action="/movies/delete" method="POST">
                    <button id="deletebutton" type="submit" name="id" value="<%=movie['id']%>"><span class="material-symbols-outlined">close</span></button>
                </form>
        </div>
        <%end%>
    </div>
    <hr>
    <div class="normal"><h2>Other users</h2></div>
    <div class="users" style="display:flex">
        <% @users.each do |user|%>
            <div class="movieBox" style="background-image: url(https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg);background-repeat:no-repeat;background-size:100% 100%; ">
                <a href="/users/profile/<%=user['id']%>" id="" style="text-wrap:wrap;text-decoration:none;color:black"><%=user['username']%></a>
            </div>
        <%end%>
    </div>
    <hr>
</body>
</html>


